* {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #1c1d1f;
  color: white;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  transition: 500ms all ease-in-out;
}

a:hover {
  color: #008fff;
}
/* Header */
header {
  display: flex;
  justify-content: center;
  border-bottom: 5px solid #f2f2f2;
  margin: 0 auto;
  width: 100%;
}
.header span a {
  margin: 10vw;
  font-size: 20px;
}
.header h1 {
  text-align: center;
}

/* Body */

body {
  max-width: 100%;
  margin-top: 5px;
}

#selLogFilebtn {
  background-color: var(--background-color);
  color: #222;
  margin: 1rem;
  padding: 1em 2em;
  border: none;
  outline: none;
  position: relative;
  cursor: pointer;
  font-size: medium;
  transition: 500ms ease-in-out all;
  color: white;
  --background-color: #272727;
  --border-size: 2px;
  --accent-color: #008fff;
}

#selLogFilebtn::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: calc(var(--border-size));
  background-color: var(--accent-color);
  transition: transform 550ms ease-in-out;

  transform: scaleX(0);
}

#selLogFilebtn:hover::before {
  transform: scaleX(1);
}

.nav-buttons {
  margin: 1rem;
  padding: 1em 2em;
  border: none;
  outline: none;
  position: relative;
  cursor: pointer;
  font-size: medium;
  transition: 500ms ease-in-out all;
  color: white;
  --border-size: 2px;
  --accent-color: #008fff;
}

.nav-buttons::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: calc(var(--border-size));
  background-color: var(--accent-color);
  transition: transform 550ms ease-in-out;

  transform: scaleX(0);
}

.nav-buttons:hover::before {
  transform: scaleX(1);
}
#realText {
  margin-left: 10px;
  font-family: sans-serif;
  color: #f2f2f2;
}

.selFileFake {
  text-align: center;
  margin-top: 10px;
}

.counter-text {
  max-width: 100%;
  margin-top: 20px;
  text-align: center;
  border-bottom: 2px solid white;
}

.counter-text p {
  margin: 10px;
  display: inline;
}

.displayLogFile {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  word-break: break-all;
  width: 100%;
}

.displayLogFile div p {
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
}

.errors,
.log {
  border-bottom: solid white 3px;
  width: 100%;
  padding-top: 5px;
}

.displayLogFile > div > h3 {
  text-align: center;
  padding-bottom: 5px;
}

.fotter {
  border-top: white 3px solid;
  display: flex;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 5%;
}

/* scrollbar */
body::-webkit-scrollbar {
  width: 5px; /* width of the entire scrollbar */

  border-color: white;
}
body::-webkit-scrollbar-track {
  background: transparent; /* color of the tracking area */
}
body::-webkit-scrollbar-thumb {
  background-color: #6d6d6d; /* color of the scroll thumb */
  border: none; /* creates padding around scroll thumb */
}
