/* Global Style*/
* {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #1c1d1f;
  color: white;
  padding: 0;
  margin: 0;

  box-sizing: border-box;
}

header {
  border-bottom: 5px solid white;
  margin: 0 auto;
  width: 100%;
}
body {
  width: 100%;
}

a {
  text-decoration: none;
  color: white;
}

/* Specific Style*/
#right-align {
  text-align: right;
}

.header {
  text-align: center;
}

.header h1 {
  font-size: 50px;
  text-decoration: underline white 2px;
}
.header a {
  margin: 10vw;
  font-size: 20px;
  transition: 500ms all;
}

.header a:hover {
  color: #008fff;
  font-size: 25px;
}

#selLogFilebtn {
  padding: 10px;
  color: white;
  background-color: #008fff;
  border: 1px solid #000;
  border-radius: 5px;
  cursor: pointer;
  transition: 500ms all;
}

#selLogFilebtn:hover {
  background-color: #005291;
}
#realText {
  margin-left: 10px;
  font-family: sans-serif;
  color: #aaa;
}

.selFileFake {
  text-align: center;
  margin-top: 10px;
}

.counter-text {
  margin-top: 5px;
  text-align: center;
  display: block;
}

.counter-text p {
  margin: 2px;
}
