/* Global Style*/
* {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #1c1d1f;
  color: white;
  padding: 0;
  margin: 0;

  box-sizing: border-box;
}

header {
  border-bottom: 5px solid #f2f2f2;
  margin: 0 auto;
  width: 100%;
}
body {
  width: 100%;
}

a {
  text-decoration: none;
  color: #f2f2f2;
}

/* Specific Style*/
#right-align {
  text-align: right;
}

.header {
  text-align: center;
}

.header h1 {
  font-size: 50px;
  text-decoration: underline #f2f2f2 2px;
}
.header a {
  margin: 10vw;
  font-size: 20px;
  transition: 500ms all;
}

.header a:hover {
  color: #005291;
}

#selLogFilebtn {
  padding: 10px;
  margin-bottom: 10px;
  color: white;
  background-color: #008fff;
  border: 1px solid #000;
  border-radius: 5px;
  cursor: pointer;
  transition: 500ms all;
}

#selLogFilebtn:hover {
  background-color: #0369b8;
  transform: scale(1.2, 1.2);
}
#realText {
  margin-left: 10px;
  font-family: sans-serif;
  color: #f2f2f2;
}

.selFileFake {
  text-align: center;
  margin-top: 10px;
}

.counter-text {
  margin-top: 20px;
  transform: translateX(-50%);
  text-align: end;
}

.counter-text p {
  margin: 10px;
}

.counter-text p span {
  margin-left: 1vw;
}
